<div class="card">
  <tbody>
    <%= link_to image_tag(collection.image, class: :card__img), collections_path(collection.id) %>   
    <br>
    <table class="table_card"> 
    <tr>
      <th class="card__col1">メンバー</th>
      <td class="card__col2"><%= collection.favemember.name %></td>
    </tr>
    <tr>
      <th class="card__col1">アルバム名</th>
      <td class="card__col2"><%= collection.album.name %></td>
    </tr>
    <tr>
      <th class="card__col1">店舗</th>
      <td class="card__col2"><%= collection.version.name %></td>
    </tr>
    <tr>
      <th class="card__col1">その他</th>
      <td class="card__col2"><%= collection.others %></td>
    </tr>
    </table>
    <div class="card__manage">
      <%= link_to "編集", edit_collection_path(collection), method: :get, class: :collection__btn %>
      <%= link_to "削除", collection_path(collection), method: :delete, class: :collection__btn %>
    </div>
  </tbody>
</div>
