<%= form_with model: @collection, local: true do |f|%>
  <div class="field">
    <%= f.label :image, "トレカの画像" %><br />
    <%= f.file_field :image, id:"collection_image" %>
  </div>

  <div class="weight-bold-text">
    <%= f.label :favemember_id, "メンバー" %><br />
    <%= f.collection_select(:favemember_id, Favemember.all, :id, :name, {}, {class:"select-box", id:"collection-favemember"}) %>
  </div>

  <div class="weight-bold-text">
    <%= f.label :album_id, "アルバム" %><br />
    <%= f.collection_select(:album_id, Album.all, :id, :name, {}, {class:"select-box", id:"collection-album"}) %>
  </div>

  <div class="weight-bold-text">
    <%= f.label :version_id, "店舗、バージョン" %><br />
    <%= f.collection_select(:version_id, Version.all, :id, :name, {}, {class:"select-box", id:"collection-version"}) %>
  </div>

  <div class="field">
    <%= f.label :others, "その他" %><br />
    <%= f.text_area :others, class: :form__text, id:"collection_others" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>